* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 300px;
}

h2 {
    text-align: center;
    color: #e53170;
    padding: 30px;
}

p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    /* max-width: 1000px; */
    /* margin: 0 auto;
    background-color: pink; */
    
}


.box {
    height: 80px;
    width: 30%;
    background-color: black;
    border: 1px solid red;
    float: left;
    margin: 20px 10px;
}