* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 300px;
}

h2 {
    text-align: center;
    color: #e53170;
    padding: 30px;
}

#lorem {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0 25px;
    color: black;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


.box {
    height: 83px;
    width: calc(100% / 3 - 20px);
    background-color: black;
    float: left;
    margin: 20px 10px;
}

.box-image {
    float: left;
    width: 30%;
    
}

.box-content {
    float: left;
    width: 70%;
    padding: 10px 5px;
}

.img {
    width: 100%;
    display: block;
}

h3 {
    color: white;
}

p {
    color: white;
}

#mail {
    color: aqua;
}
    
